:root {
    --customPurple: #9E259D;
    --customPurpleTransparent: rgba(158, 37, 157, .6)
}

body,
html {
    height: 100%
}

body {
    background-color: #181818;
    margin: 0;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #FFF;
    font-size: 16px
}

.yellow-text {
    color: var(--customPurple)
}

.modal-backdrop.in {
    opacity: .7
}

.modal-content {
    background-color: #FFF
}

.modal-content .close {
    margin-right: 10px;
    color: #8fc15a;
    transform: scale(2);
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
    font-size: 27px;
    outline: 0
}

.modal-content .close:hover {
    opacity: .7
}

.modal-content .modal-footer,
.modal-content .modal-header {
    border: none
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -420px;
    padding: 0 0 420px
}

footer {
    height: 420px
}

h1 {
    margin: 40px 0 30px;
    text-align: center;
    color: #8fc15a;
    letter-spacing: 1px;
    font-size: 46px;
    font-weight: 500;
    text-decoration: none
}

h2 {
    color: var(--customPurple);
    font-size: 38px;
    font-weight: 500;
    text-decoration: none
}

h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    margin: 10px 0 50px;
    text-decoration: none
}

a,
a:active,
a:focus,
a:hover {
    color: #8fc15a
}

blockquote {
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 14px;
    border-left: 5px solid #8fc159;
    font-style: italic
}

.btn-lg {
    color: #000;
    font-size: 24px;
    transition: all .5s
}

.btn-lg:hover {
    transition: all .5s;
    color: #fff
}

.btn-md {
    font-size: 24px;
    transition: all .5s;
    color: #fff;
    cursor: pointer
}

.btn-md:hover {
    transition: all .5s;
    color: #000;
    background: #8fc05b!important
}

.breadcrumb {
    margin: 20px 0;
    background-color: #121314
}

.breadcrumb a,
.breadcrumb a:hover {
    color: #8fc159;
    text-decoration: none
}

.breadcrumb>.active,
.breadcrumb>li+li:before {
    color: #acacac
}

.header * {
    transition: all .3s ease-in-out
}

header .header {
    background: #121314
}

.navbar-fixed-top .container {
    background: #000!important
}

.navbar-toggle {
    margin-top: 18px
}

.header .navbar {
    margin-bottom: 0;
    text-transform: uppercase
}

.navbar-nav {
    text-align: center
}

.header .navbar .navbar-nav li.active a {
    background: 0 0;
    color: #8fc05b
}

.header .navbar .navbar-nav a {
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .2s ease-in-out;
    color: #FFF;
    font-size: 16px;
    padding: 15px 10px
}

.header .navbar .navbar-nav a:hover {
    color: #8fc05b!important
}

.header .navbar-brand {
    height: 72px
}

.header .navbar-nav {
    margin: 11px 18px;
    display: block
}

.navbar-inverse {
    background-color: transparent!important;
    border-color: transparent!important
}

.header .header_icon.social_icons,
footer .social_icons {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 17px;
    margin: 17.5px 0
}

footer .social_icons {
    justify-content: left
}

.header .header_icon.social_icons .header_icon-item,
footer .social_icons .header_icon-item {
    list-style: none
}

.header .header_icon.social_icons .header_icon-item .nav-link,
footer .social_icons .header_icon-item .nav-link {
    background: #6b6b6b;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: #FFF;
    transition: all .5s
}

.header .header_icon.social_icons .header_icon-item .nav-link:hover,
footer .social_icons .header_icon-item .nav-link:hover {
    transition: all .5s;
    background: var(--customPurple);
    text-decoration: none
}

#w0 {
    background: rgba(0, 0, 0, .85)!important;
    display: flex;
    justify-content: center
}

#w0-collapse.in {
    display: flex!important;
    justify-content: space-between
}

.slider_header {
    background: #000
}

.slider_header .owl-carousel .item,
.slider_ketle .owl-carousel .item {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-size: cover!important;
    padding: 100px 0;
    background-position: left center
}

.slider_header .item-info,
.slider_ketle .item-info {
    width: 60%;
    float: right;
    padding: 30px;
    background: rgba(0, 0, 0, .8)
}

.slider_header .owl-carousel .item .item-box,
.slider_ketle .owl-carousel .item .item-box {
    border-left: 2px solid var(--customPurple)
}

.slider_header .owl-carousel .item .item-box>*,
.slider_ketle .owl-carousel .item .item-box>* {
    margin-left: 30px
}

.slider_header .owl-carousel .item .item-box p:first-child,
.slider_ketle .owl-carousel .item .item-box p:first-child {
    color: #8fc05b;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    border-left: 5px solid var(--customPurple);
    padding: 10px 40px 10px 26px
}

.slider_header .owl-carousel .item .item-box p:first-child span,
.slider_ketle .owl-carousel .item .item-box p:first-child span {
    color: #fff;
    text-transform: uppercase
}

.slider_header .owl-carousel .item .item-box p.program-type,
.slider_ketle .owl-carousel .item .item-box p.program-type {
    padding: 0 40px 0 0;
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0
}

.slider_header .owl-carousel .item .item-box h2,
.slider_ketle .owl-carousel .item .item-box h2 {
    color: #8fc05b;
    font-size: 6.25rem;
    font-weight: 500;
    margin-top: 0
}

.slider_header .owl-carousel .item .item-box-description,
.slider_ketle .owl-carousel .item .item-box-description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 60px 30px 30px
}

.slider_header .owl-carousel .item .item-box_arrow,
.slider_ketle .owl-carousel .item .item-box_arrow {
    display: flex;
    background: var(--customPurple);
    border-radius: 0;
    padding: 8px 30px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.slider_header .owl-carousel .item .item-box_arrow .arrow,
.slider_ketle .owl-carousel .item .item-box_arrow .arrow {
    width: 34px;
    height: 34px;
    padding: 2px 12px;
    background: #FFF;
    color: var(--customPurple);
    transition: all .3s ease-in-out;
    margin-left: 15px
}

.slider_header .owl-carousel .item .item-box_arrow .arrow .fas,
.slider_ketle .owl-carousel .item .item-box_arrow .arrow .fas {
    font-size: 20px;
    margin-top: 5px
}

.slider_header .owl-carousel .item .item-box_arrow:hover,
.slider_ketle .owl-carousel .item .item-box_arrow:hover {
    background: #FFF;
    color: var(--customPurple)
}

.slider_header .owl-carousel .item .item-box_arrow:hover .arrow,
.slider_ketle .owl-carousel .item .item-box_arrow:hover .arrow {
    color: #FFF;
    background-color: var(--customPurple)
}

.owl-theme .owl-nav [class*=owl-] {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    background: 0 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    color: #8fc05b
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: 0 0;
    color: #8fc05b;
    text-decoration: none
}

.owl-next,
.owl-prev {
    position: absolute;
    top: 50%;
    width: 70px;
    background: rgba(143, 192, 91, .15)!important
}

.owl-prev {
    left: 3%
}

.owl-next {
    right: 3%
}

.owl-theme .owl-nav {
    margin: 0
}

.owl-dots {
    display: inline-flex;
    position: absolute;
    top: 90%;
    left: 8%
}

.owl-dots span {
    width: 50px!important;
    height: 20px!important;
    margin: 15px 10px!important;
    background: #6b6b6b!important;
    display: block!important;
    -webkit-backface-visibility: visible;
    border-radius: 0!important;
    transition: all .3s ease-in-out!important
}

.owl-theme .owl-dots .owl-dot.active {
    cursor: default
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--customPurple)!important
}

.section_offers {
    padding: 100px 0;
    background: url("offers_bg.png") center/cover
}

.section_offers h2 {
    color: #FFF;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    background: #000;
    padding: 10px 40px;
    text-transform: uppercase;
    display: table;
    margin: 0 auto 50px
}

.section_offers .offer-box {
    position: relative;
    /*height: 850px;*/
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.section_offers .offer-box img {
    max-width: 100%;
    margin: 0 auto;
}

.section_offers .offer-box:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #0000003d;
    opacity: .6
}

.section_offers .offer-content {
    z-index: 10;
    padding: 20px 30px;
    max-width: 100%;
}

.section_offers .offer-content p{
  text-transform: uppercase!important;
  font-family: 'Fira Sans Condensed', sans-serif!important;
  font-size: 48px!important;
  font-weight: 600!important;
}

.section_offers h3 {
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px
}

.section_offers button {
    padding: 7px 30px;
    overflow: hidden;
    margin-left: 0;
    background: var(--customPurple);
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    float: right;
    outline: 0
}

.kinds {
    display: flex;
    justify-content: center;
    background: #1e1e1e
}

@media only screen and (max-width:1199px) and (min-width:992px) {
    .kinds {
        flex-wrap: wrap
    }
}

@media only screen and (max-width:991px) and (min-width:768px) {
    .kinds {
        flex-wrap: wrap
    }
}

@media only screen and (max-width:767px) and (min-width:576px) {
    .kinds {
        flex-wrap: wrap
    }
}

@media only screen and (max-width:575px) and (min-width:0) {
    .kinds {
        flex-wrap: wrap
    }
}

.kinds * {
    transition: all .3s ease-in-out!important
}

.kinds .kinds_img {
    width: 25%;
    min-width: 100px;
    position: relative;
    height: 400px
}

.programs-grid.kinds .kinds_img {
    width: 100%;
    margin-bottom: 30px;
    transition: all .3s ease-in-out!important
}

.kinds .kinds_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background: 0 0
}

.kinds .kinds_img:hover:before {
    background: var(--customPurpleTransparent)
}

.kinds .kinds_img:hover {
    background-position: 40% center!important
}

.kinds .kinds_img:hover .kinds_img-bot,
.kinds .kinds_img:hover .kinds_img-top {
    background: #000
}

.kinds .kinds_img img {
    width: 100%;
    height: 100%
}

.kinds .kinds_img:hover a {
    color: var(--customPurple);
    background: #FFF
}

.kinds .kinds_img a {
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
    position: absolute;
    bottom: 150px;
    background: var(--customPurple);
    width: 250px;
    max-width: 100%;
    z-index: 999;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700
}

.kinds .kinds_img:nth-child(even) a,
.programs-grid>div >div:nth-child(even) a {
    bottom: 50px
}

.kinds>.kinds_img:last-child:before {
    content: '';
    opacity: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.kinds>.kinds_img:last-child a {
    display: block;
    position: relative;
    color: #fff;
    margin: 0 auto;
    width: 280px;
    bottom: -45%;
    text-align: center;
    background: 0 0;
    font-size: 27px;
    text-decoration: underline
}

.slider_command {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--customPurple);
    margin: 0 auto
}

.slider_command a {
    text-decoration: none
}

.slider_command .slider_command-h2 {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 46px;
    font-weight: 500
}

.slider_command .slider_command-desc {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: #FFF;
    font-size: 46px
}

.slider_command .owl-stage-outer:after,
.slider_command .owl-stage-outer:before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 3000
}

.slider_command .owl-stage-outer:before {
    left: 0;
    background: -webkit-linear-gradient(right, rgba(255, 213, 5, 0), var(--customPurple));
    background: -o-linear-gradient(right, rgba(255, 213, 5, 0), var(--customPurple));
    background: -moz-linear-gradient(right, rgba(255, 213, 5, 0), var(--customPurple));
    background: linear-gradient(to left, rgba(255, 213, 5, 0), var(--customPurple))
}

.slider_command .owl-stage-outer:after {
    right: 0;
    background: -webkit-linear-gradient(right, var(--customPurple), rgba(255, 213, 5, 0));
    background: -o-linear-gradient(right, var(--customPurple), rgba(255, 213, 5, 0));
    background: -moz-linear-gradient(right, var(--customPurple), rgba(255, 213, 5, 0));
    background: linear-gradient(to left, var(--customPurple), rgba(255, 213, 5, 0))
}

.slider_command .slider_command-img {
    margin-bottom: 30px
}

.slider_command .slider_command-img img {
    margin: 0 auto;
    border-radius: 50%;
    width: 90%!important;
    transition: all .5s ease-in-out
}

.slider_command .slider_command-img img:hover {
    opacity: .7
}

.slider_command .item-box {
    color: #CCC;
    text-align: center
}

.slider_command .item-box .item-box_h3 {
    font-weight: 500;
    font-size: 26px;
    color: #FFF;
    margin-bottom: 10px
}

.slider_command .item-box .item-box_position {
    display: block;
    padding: 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none
}

.slider_command .owl-theme .owl-nav [class*=owl-] {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    background: 0 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    color: #8fc05b
}

.slider_command .owl-theme .owl-nav [class*=owl-]:hover {
    background: 0 0;
    color: #8fc05b;
    text-decoration: none
}

.slider_command .owl-next,
.slider_command .owl-prev {
    transition: all .2s ease-in-out;
    border-radius: 50%!important;
    position: absolute;
    top: 31%;
    height: 70px;
    width: 70px;
    background: #000!important
}

.slider_command .owl-next i,
.slider_command .owl-prev i {
    padding-top: 20px
}

.slider_command .owl-next:hover,
.slider_command .owl-prev:hover {
    background-color: #FFF!important;
    color: #000!important
}

.slider_command .owl-theme .owl-nav {
    margin: 0
}

.slider_command .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative
}

.slider_command .owl-dots span {
    width: 100px!important;
    height: 4px!important;
    margin: 5px 7px!important;
    background: #8fc05b!important;
    display: block!important;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease!important;
    border-radius: 0!important
}

.slider_command .owl-theme .owl-dots {
    left: 0;
    top: 0
}

.slider_command .owl-theme .owl-dots .owl-dot span {
    background: #6b6b6b!important
}

.slider_command .owl-theme .owl-dots .owl-dot.active span,
.slider_command .owl-theme .owl-dots .owl-dot:hover span {
    background: #FFF!important
}

.slider_command .owl-prev {
    left: 0
}

.slider_command .owl-next {
    right: 0
}

.section_prices {
    min-height: 600px;
    padding: 80px 0
}

.section_prices h2 {
    font-size: 45px;
    color: #FFF;
    font-weight: 500;
    padding: 50px 40px 0
}

.section_prices ul {
    list-style: none;
    font-size: 21px;
    padding: 15px 40px
}

.section_prices ul li {
    padding: 4px 0
}

.section_prices .prices-list {
    padding-top: 5%;
    display: flex;
    align-items: flex-end;
    flex-direction: column
}

.section_prices .prices-list * {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out
}

.section_prices .price-item {
    display: flex;
    justify-content: space-between;
    cursor: default;
    padding: 10px 0;
    height: 80px;
    width: 80%
}

.section_prices .price-item h3 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    background: #8fc15a;
    padding: 15px 10px;
    width: 200px;
    position: relative;
    z-index: 10;
    text-align: center
}

.section_prices .price-item.morning h3 {
    padding: 6px 10px
}

.section_prices .price-item h3 span.description {
    font-size: 15px;
    position: relative;
    top: -14px
}

.section_prices .price-item>div {
    display: flex;
    align-items: center
}

.section_prices .price-item p {
    font-size: 40px;
    line-height: 39px;
    margin: 0;
    font-weight: 500
}

.section_prices .price-item button,
.section_prices .price-item a {
    transform: scale(0);
    padding: 0;
    width: 0;
    overflow: hidden;
    margin-left: 0;
    background: var(--customPurple);
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border: none
}

.section_prices .price-item+hr {
    position: relative;
    margin: 0;
    color: #8fc159;
    top: -20px;
    border-color: #8fc159;
    width: 60%
}

.section_prices .price-item:hover {
    width: 100%
}

.section_prices .price-item:hover button,
.section_prices .price-item:hover a {
    transform: scale(1);
    width: 160px;
    padding: 7px 30px;
    margin: 0 auto
}

.section_prices .price-item:hover p {
    transform: scale(1.5);
    margin: 0 65px 0 0
}

.section_prices .price-item:hover h3 {
    transform: scale(1.3)
}

.section_prices .price-item:hover+hr {
    border-color: var(--customPurple);
    width: 100%;
    top: -10px
}

.slider_reviews {
    padding: 70px 0 30px;
    max-width: 1600px;
    margin: 0 auto;
    background: #1e1e1e
}

.slider_reviews h2,
.slider_reviews h3 {
    text-align: center;
    display: flex;
    justify-content: center
}

.slider_reviews h2 {
    margin: 0 0 20px;
    font-weight: 500;
    text-transform: uppercase
}

.slider_reviews h3 {
    margin: 0 0 20px
}

.slider_reviews .item {
    align-items: center
}

.slider_reviews .owl-stage-outer:after,
.slider_reviews .owl-stage-outer:before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 3000
}

.slider_reviews .owl-stage-outer:before {
    left: 0;
    background: -webkit-linear-gradient(right, rgba(30, 30, 30, 0), #1e1e1e);
    background: -o-linear-gradient(right, rgba(30, 30, 30, 0), #1e1e1e);
    background: -moz-linear-gradient(right, rgba(30, 30, 30, 0), #1e1e1e);
    background: linear-gradient(to left, rgba(30, 30, 30, 0), #1e1e1e)
}

.slider_reviews .owl-stage-outer:after {
    right: 0;
    background: -webkit-linear-gradient(right, #1e1e1e, rgba(30, 30, 30, 0));
    background: -o-linear-gradient(right, #1e1e1e, rgba(30, 30, 30, 0));
    background: -moz-linear-gradient(right, #1e1e1e, rgba(30, 30, 30, 0));
    background: linear-gradient(to left, #1e1e1e, rgba(30, 30, 30, 0))
}

.slider_reviews .item .photo-wrapper {
    position: relative;
    margin: 20px auto;
    display: table
}

.slider_reviews .item .slider_reviews-img {
    width: 220px;
    height: 220px;
    border-radius: 50%
}

.slider_reviews .item .slider_reviews-box {
    padding: 50px 0
}

.slider_reviews .item .slider_reviews-box .review-author {
    font-size: 18px;
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 0;
    color: #8fc05b;
    font-weight: 700
}

.slider_reviews .item .slider_reviews-box .slider_reviews-desc {
    color: #fff;
    font-size: 18px
}

.slider_reviews .owl-theme .owl-nav [class*=owl-] {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    background: 0 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    color: #8fc05b
}

.slider_reviews .owl-theme .owl-nav [class*=owl-]:hover {
    background: 0 0;
    color: #8fc05b;
    text-decoration: none
}

.slider_reviews .owl-next,
.slider_reviews .owl-prev {
    position: absolute;
    top: 43%;
    width: 70px;
    background: rgba(143, 192, 91, .15)!important
}

.slider_reviews .owl-prev {
    left: -7%
}

.slider_reviews .owl-next {
    right: -7%
}

.slider_reviews .owl-theme .owl-nav {
    margin: 0
}

.slider_reviews .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative
}

.slider_reviews .owl-dots span {
    width: 100px!important;
    height: 4px!important;
    margin: 5px 7px!important;
    background: #8fc05b!important;
    display: block!important;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease!important;
    border-radius: 0!important
}

.slider_reviews .owl-theme .owl-dots .owl-dot.active span,
.slider_reviews .owl-theme .owl-dots .owl-dot:hover span {
    background: #6b6b6b!important
}

.slider_reviews .owl-stage-outer {
    min-height: 290px
}

.section_news {
    background: #383838;
    padding-bottom: 100px
}

.section_news .section_news-h2 {
    text-transform: uppercase;
    color: #8fc15a;
    letter-spacing: 1px;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    margin: 80px 0 50px
}

.section_news .row div {
    margin: 5px 0
}

.section_news .section_news-box {
    position: relative;
    background-size: cover!important;
    height: 300px;
    transition: all .5s;
    overflow: hidden
}

.section_news .section_news-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--customPurpleTransparent);
    transition: all .5s
}

.section_news .section_news-box:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    transition: all .5s
}

.section_news .section_news-box .section_news-box-d {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    font-weight: 500
}

.section_news .section_news-box .section_news-box-d .section_news-time {
    color: #CCC;
    margin: 0
}

.section_news .section_news-box .section_news-box-d .section_news-desc a {
    font-size: 26px;
    color: #FFF;
    text-decoration: none!important;
    transition: all .3s ease-in-out
}

.section_news .section_news-box .section_news-box-d .section_news-desc a:hover {
    color: #FFF;
    text-decoration: underline
}

.section_news #section_news-marg-t {
    margin-top: 30px
}


.payment .cards-list h4 {
    font-size: 14px;
    font-weight: 400;
}


.feedback-form {
    padding: 10px 0px 30px 0
}

.feedback-form h2 {
    text-transform: uppercase;
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    color: #8fc05b;
    font-weight: 500
}

.feedback-form h2+p {
    text-align: center;
    font-size: 32px;
    color: #FFF;
    font-weight: 400;
    line-height: 38px;
    margin: 30px 0
}

.feedback-form .form-main button[type=submit],
.feedback-form .form-main input,
.feedback-form .form-main textarea {
    text-transform: uppercase;
    width: 100%;
    height: auto;
    padding: 15px;
    background: #2e2e2e;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
    letter-spacing: 1px;
    outline: 0
}

.feedback-form .form-main button[type=submit]:disabled {
    color: #7a7a7a;
    opacity: .3;
    cursor: not-allowed
}

.feedback-form .form-main button[type=submit]:disabled:hover {
    color: #7a7a7a;
    background: #2e2e2e!important
}

.feedback-form .form-main textarea {
    min-height: 150px
}

.feedback-form .form-main input:focus {
    outline: 0
}

.feedback-form .form-main #textarea {
    width: 100%;
    padding: 15px;
    background: #2e2e2e;
    border: none;
    color: #fff
}

.feedback-form .form-main #textarea:focus {
    outline: 0
}

.feedback-form .custom-control-indicator {
    background: rgba(255, 255, 255, .5)
}

.feedback-form div.comment {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden
}

.feedback-form .custom-control-description {
    color: #fff
}

.feedback-form .custom-checkbox {
    margin-top: 10px;
    cursor: pointer
}

.feedback-form .custom-checkbox .custom-control-indicator {
    width: 25px;
    border-radius: 0;
    border: 3px solid #8fc15a;
    height: 25px;
    display: block;
    background: #1e1e1e;
    float: left;
    margin-right: 20px
}

.feedback-form .custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #8fc05b;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #8fc05b
}

.feedback-form .custom-control-input:checked~.custom-control-indicator {
    background-size: 80%!important;
    background: url("checked.svg") center no-repeat
}

.feedback-form .custom-checkbox input {
    visibility: hidden;
    width: 0;
    height: 0
}

.feedback-form .custom-checkbox .custom-control-description,
.feedback-form .field-feedbackform-agreement {
    font-size: 16px;
    font-weight: 400;
    display: block;
    position: relative;
    top: -20px;
    padding-left: 50px
}

.feedback-form button[type=submit] {
    letter-spacing: 0;
    color: #000
}

.feedback-form button[type=submit]:hover {
    color: #000
}

.feedback-form .help-block {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.feedback-form .loading-spinner {
    margin: 15px auto;
    display: block
}

.feedback-form .feedbackSucMsg {
    display: none;
    text-align: center;
    font-size: 26px;
    color: #8fc15a
}

.feedback-form .feedbackErrMsg {
    display: none;
    text-align: center;
    font-size: 26px;
    color: #ff7979
}

.feedback-form .feedbackErrMsg .whiteText,
.feedback-form .feedbackSucMsg .whiteText {
    color: #FFF
}

.modal h2 {
    margin: 0px 0px 20px 0px;
}

.modal .form_desc {
    color: #333;
    font-size: 16px;
    line-height: 48px;
    margin: 0px 0 10px
}

.modal input,
.modal textarea {
    background: #f2f2f2!important;
    color: #333!important
}

.modal .feedback-form .custom-checkbox .custom-control-indicator {
    border: 3px solid #8fc15a;
    background: #FFF;
    position: relative;
    top: 11px;
    left: 11px
}

.modal .feedback-form .custom-control-input:checked~.custom-control-indicator {
    background: url("checked.svg") 2px 2px no-repeat
}

.modal .custom-control-description {
    color: #333
}

.modal .feedback-form button[type=submit] {
    background: #8fc05b;
    border: 3px solid transparent;
    color: #333
}

.modal .feedback-form button[type=submit]:disabled:hover {
    background: #8fc05b!important;
    color: #7a7a7a;
    border: 3px solid #8fc05b
}

.modal .feedback-form button[type=submit]:hover {
    background: #FFF!important;
    color: #8fc05b;
    border: 3px solid #8fc05b
}

.modal #additionalInfoBlock {
    color: #333;
    margin-bottom: 30px;
}

.modal #additionalInfoBlock h3 {
    font-size: 25px;
    text-align: center;
    color: #9E259D;
    margin: 0px 0px 20px;
}

.modal #additionalInfoBlock p {
    text-align: center;
}

footer {
    background-color: #121315;
    min-height: 200px;
    padding-top: 40px
}

footer .container {
    margin: 0 auto
}

footer .footer-nav .nav>li>a {
    color: #acacac
}

footer .footer-nav .nav>li.active a,
footer .footer-nav .nav>li:hover a {
    color: #8fc05b
}

footer .footer-nav .nav>li>a {
    padding: 5px 0
}

.nav>li>a:focus,
footer .footer-nav .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent
}

footer .foter-logo {
    /*margin: 60px auto;*/
    display: block
}

footer .copyright {
    margin: 40px 30px 0;
    color: #979797
}

footer .copyright ul {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    padding-left: 9px
}

footer .copyright ul:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 14px;
    background-color: #979797
}

footer .copyright ul li,
footer .copyright ul li a {
    list-style: none;
    color: #cecece
}

footer .copyright .site-developer p {
    margin: 0 0 20px;
    padding: 0 0 0 50px;
    text-align: left;
    line-height: 16px
}

footer .footer-nav h5 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px
}

footer .menu {
    padding-left: 0
}

footer .menu li {
    margin: 4px 0;
    list-style: none
}

footer .menu a {
    transition: all .2s ease-in-out;
    color: #acacac
}

footer .menu a:hover {
    margin-left: 4px;
    text-decoration: none;
    color: #8fc05b
}

/*Price*/
.price-adv {

}

.price-adv p span {
    color: #8fc15a;
    font-size: 18px;
}

.price-adv h1 {
    margin: 0
}

.price-adv h2 {
    margin: 40px 0 60px;
    text-align: center;
    color: #8fc15a;
    letter-spacing: 1px;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none
}

.price-adv h3 {
    margin: 0 0 20px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none
}

.price-adv .table-responsive {
    margin-bottom: 25px;
}

.price-adv .table-bordered,
.price-adv .table-bordered td,
.price-adv .table-bordered th {
    border: 4px solid #caf891;
    background: #8dc645;
    text-align: center;
    vertical-align: middle;
}

.price-adv .table-bordered th:not(:first-child) {

}

.price-adv .table-bordered th {
    color: #1e1e1e;
    font-weight: 500
}

.price-adv .table-bordered td {
    padding: 4px
}

.price-adv .table-bordered tr td:first-child {
    font-weight: 500;
    color: #fff;
}

.price-adv .table-bordered-adv tr td:first-child {
    font-weight: 500;
    color: #1e1e1e;
    padding: 10px;
}

.price-adv .table-bordered td {
    font-size: 18px;
    line-height: 14px;
    color: #FFF;
    font-weight: 500;
    margin: 0;
    padding: 4px;

}

.price-adv .table-bordered td a.coach-name {
    color: #1e1e1e
}

/*Shedule*/

.section-schedule {
    background: #383838;
    padding: 60px 0 80px
}

.section-schedule h1 {
    margin: 0
}

.section-schedule h2 {
    margin: 40px 0 20px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none
}

.section-schedule .table-bordered,
.section-schedule .table-bordered td,
.section-schedule .table-bordered th {
    border: 4px solid #caf891;
    background: #8dc645;
    text-align: center;
    vertical-align: middle
}

.section-schedule .table-bordered th:not(:first-child) {
    width: 12%
}

.section-schedule .table-bordered th {
    color: #1e1e1e;
    font-weight: 500
}

.section-schedule .table-bordered td {
    padding: 4px
}

.section-schedule .table-bordered tr td:first-child {
    font-weight: 500;
    color: #1e1e1e
}

.section-schedule .table-bordered td .program-title {
    font-size: 18px;
    line-height: 14px;
    color: #FFF;
    font-weight: 500;
    margin: 0
}

.section-schedule .table-bordered td a.coach-name {
    color: #1e1e1e
}

.coaches-list .coach-item * {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out
}

.coaches-list .coach-item .coach-photo-wrapper {
    position: relative;
    display: block;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    border: 5px solid transparent
}

.coaches-list .coach-item:hover .coach-photo-wrapper {
    border: 5px solid var(--customPurple)
}

.coaches-list .coach-item {
    color: #FFF;
    margin-bottom: 70px;
    display: block
}

.coaches-list .coach-item:hover {
    text-decoration: none
}

.coaches-list .coach-item h2 {
    color: var(--customPurple)
}

.coaches-list .coach-item:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}

.coaches-list .coach-item:hover h2 {
    -ms-transform: translate(0px, -15px);
    -webkit-transform: translate(0px, -15px);
    -o-transform: translate(0px, -15px);
    -moz-transform: translate(0px, -15px);
    transform: translate(0px, -15px)
}

.coaches-list .coach-item:hover p {
    -ms-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    -o-transform: translate(0px, -20px);
    -moz-transform: translate(0px, -20px);
    transform: translate(0px, -20px)
}

.coaches-list .coach-item h2 {
    font-weight: 500;
    text-decoration: none;
    font-size: 24px
}

.coaches-list .coach-item p.coach-position {
    padding: 0 10px;
    height: 45px;
    overflow: hidden
}

.coach-single-description {
    margin: 30px 0 50px
}

.coach-single-description h1 {
    text-align: left;
    margin: 0;
    color: #8fc15a
}

.coach-single-description h3 {
    font-size: 26px;
    margin: 25px 0 15px;
    text-align: center;
}

.coach-single-description a {
    color: #8fc159;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out
}
.coach-single-description .program-title {
    text-align: right;
}

.coach-single-description a:hover {
    color: #9e269d
}

.coach-single-description img.img-responsive {
    margin: 0 auto
}

span.glyphicon-calendar {
    margin-right: 6px
}
span.glyphicon-ruble {
    font-size: 30px;
}

.program-single-description {
    padding: 20px 0 60px
}

.program-single-description img {
    display: block;
    margin: 0 auto
}

.program-single-description h1 {
    margin: 0 0 15px
}

.program-single-description h3 {
    font-size: 26px;
    margin: 25px 0 15px
}

.articles-list .article-item {
    margin-bottom: 35px
}

.article-item .article-photo-wrapper {
    max-height: 200px;
    overflow: hidden
}

.articles-list .article-item a {
    text-decoration: none;
    color: #8fc15a
}

.articles-list .article-item .article-date {
    font-size: 13px;
    color: #707070
}

.articles-list .article-item a:hover h2 {
    color: #FFF
}

.articles-list .article-item h2 {
    text-align: left;
    font-size: 24px;
    margin: 0
}

.article-single-description h1+img {
    float: left;
    padding: 30px
}

.site-contact .glyphicon {
    color: #8fc15a;
    margin-right: 10px;
    font-size: 22px
}

.site-contact p.address,
.site-contact p.phone {
    margin: 10px 0;
    font-size: 22px
}

.site-contact span.header {
    margin: 25px 0 10px;
    color: var(--customPurple);
    font-size: 30px;
    text-align: center;
    display: block
}

#scroller {
    display: block;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: fixed;
    background: #000;
    bottom: 5%;
    right: 5%;
    border: none;
    z-index: 2000;
    outline: 0;
    transition: all .3s ease-in-out;
    -ms-transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    transform: translate(0px, 100px)
}

#scroller .fas {
    transition: all .3s ease-in-out
}

#scroller.turnedOn {
    display: block;
    opacity: 1;
    -ms-transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    transform: translate(0px, 0)
}

#scroller .fas {
    font-size: 30px;
    font-weight: 700;
    color: var(--customPurple);
    animation: totopbtn 1s ease-in-out infinite;
    transform: rotateZ(-90deg)
}

#scroller:hover {
    background: var(--customPurple)
}

#scroller:hover .fas {
    color: #000
}

@keyframes totopbtn {
    0% {
        transform: rotateZ(-90deg) translateX(-10px);
        animation-timing-function: ease-in;
        opacity: 0
    }
    30% {
        transform: rotateZ(-90deg) translateX(0px);
        animation-timing-function: ease-out;
        opacity: 1
    }
    100% {
        transform: rotateZ(-90deg) translateX(10px);
        opacity: 0
    }
}

@media only screen and (max-width:1920px) {
    .header .navbar-nav {
        margin: 11px 160px
    }
    h2.errorMsg {
        padding-top: 200px
    }
}

@media only screen and (max-width:1376px) {
    .header .navbar-nav {
        margin: 11px 120px
    }
    .section_prices .price-item:hover p {
        transform: scale(1.2);
        margin: 0 50px 0 0
    }
}

@media only screen and (max-width:1200px) {
    .header .navbar-nav {
        margin: 11px 40px
    }
    .section_prices ul {
        font-size: 19px
    }
    .slider_header .item-info,
    .slider_ketle .item-info {
        width: 80%
    }
    .slider_header .owl-carousel .item .item-box p:first-child,
    .slider_ketle .owl-carousel .item .item-box p:first-child {
        font-size: 27px
    }
    .section_prices h2 {
        font-size: 25px;
        padding: 60px 40px 0
    }
    .section_prices .price-item:hover h3 {
        font-size: 25px;
        width: 150px
    }
    .section_prices .price-item.morning:hover h3 {
        padding: 13px 10px
    }
    .section_prices .price-item:hover h3 span.description {
        font-size: 10px
    }
    .section_prices .price-item p {
        font-size: 30px
    }
    span.glyphicon-ruble {
        font-size: 21px;
    }
    .section_prices .price-item:hover p {
        transform: scale(1.4);
        margin: 0 30px 0 0
    }
    .slider_header .owl-carousel .item,
    .slider_ketle .owl-carousel .item {
        padding: 190px 0
    }
}

@media only screen and (max-width:992px) {
    .slider_header .item-info,
    .slider_ketle .item-info {
        width: 70%
    }
    .slider_reviews .item .slider_reviews-box {
        padding: 0
    }
    .section_prices .price-item {
        width: 100%
    }
    .section_prices h2 {
        font-size: 38px;
        padding: 30px 10px 0
    }
    .section_prices ul {
        font-size: 18px;
        padding: 25px 10px
    }
    .section_prices .price-item button,
    .section_prices .price-item:hover button {
        transform: scale(1);
        width: 140px;
        padding: 7px 0;
        margin: 0 auto
    }
    .section_prices .price-item h3,
    .section_prices .price-item:hover h3 {
        font-size: 20px;
        width: 150px;
        transform: scale(1);
        padding: 19px 10px
    }
    .section_prices .price-item.morning h3,
    .section_prices .price-item.morning:hover h3 {
        padding: 10px
    }
    .section_prices .price-item h3 span.description,
    .section_prices .price-item:hover h3 span.description {
        font-size: 9px;
        position: relative;
        top: 0
    }
    .section_prices .price-item p,
    .section_prices .price-item:hover p {
        font-size: 24px;
        margin: 0 30px 0 0;
        transform: scale(1)
    }
    .section_prices .price-item span,
    .section_prices .price-item:hover span {
        font-size: 18px;
    }
    span.glyphicon-ruble {
        font-size: 21px;
    }
    .section_prices .price-item+hr,
    .section_prices .price-item:hover+hr {
        background: 0 0;
        border: none
    }
    .slider_header .owl-carousel .item,
    .slider_ketle .owl-carousel .item {
        padding: 100px 0
    }
    h2.errorMsg {
        padding-top: 0
    }
}

@media only screen and (max-width:768px) {
    .slider_header .item-info,
    .slider_ketle .item-info {
        width: 85%
    }
    .slider_header .owl-carousel .item .item-box p:first-child,
    .slider_ketle .owl-carousel .item .item-box p:first-child {
        font-size: 26px
    }
    .slider_header .owl-carousel .item .item-box p.program-type,
    .slider_ketle .owl-carousel .item .item-box p.program-type {
        font-size: 39px
    }
    .slider_header .owl-carousel .item .item-box h2,
    .slider_ketle .owl-carousel .item .item-box h2 {
        font-size: 3.5em
    }
    .slider_header .owl-carousel .item .item-box-description,
    .slider_ketle .owl-carousel .item .item-box-description {
        font-size: 15px
    }
    .slider_header .owl-carousel .item .item-box_arrow,
    .slider_ketle .owl-carousel .item .item-box_arrow {
        font-size: 20px
    }
    footer {
        height: 920px
    }
    #wrap {
        margin: 0 auto -920px;
        padding: 0 0 920px
    }
    .kinds .kinds_img {
        width: 50%
    }
    nav.navbar {
        display: block!important
    }
}

@media only screen and (max-width:560px) {
    h2 {
        font-size: 34px
    }
    h3 {
        font-size: 23px
    }
    .slider_command .owl-next,
    .slider_command .owl-prev {
        top: 27%;
        height: 50px;
        width: 50px
    }
    .slider_command .owl-next i,
    .slider_command .owl-prev i {
        padding-top: 10px
    }
    .slider_header .item-info,
    .slider_ketle .item-info {
        width: 85%
    }
    .slider_header .owl-carousel .item,
    .slider_ketle .owl-carousel .item {
        padding: 100px 0
    }
    .slider_header .owl-carousel .item .item-box p.program-type,
    .slider_ketle .owl-carousel .item .item-box p.program-type {
        font-size: 16px;
        margin-bottom: 10px
    }
    .slider_header .owl-carousel .item .item-box p:first-child,
    .slider_ketle .owl-carousel .item .item-box p:first-child {
        font-size: 19px;
        line-height: 20px
    }
    .slider_header .owl-carousel .item .item-box h2,
    .slider_ketle .owl-carousel .item .item-box h2 {
        font-size: 17px
    }
    .slider_header .owl-carousel .item .item-box-description,
    .slider_ketle .owl-carousel .item .item-box-description {
        padding: 20px 5px 5px 30px;
        font-size: 14px
    }
    .kinds .kinds_img {
        width: 100%;
        min-width: 100px;
        position: relative;
        height: 400px
    }
    .slider_command .slider_command-h2 {
        font-size: 30px
    }
    .slider_command .slider_command-desc {
        font-size: 28px
    }
    .slider_reviews .item .slider_reviews-box .slider_reviews-desc {
        font-size: 18px
    }
    .feedback-form h2 {
        font-size: 27px
    }
    .feedback-form h2+p {
        font-size: 20px;
        line-height: 26px
    }
    .feedback-form .feedbackMsg {
        display: none
    }
    footer {
        height: 1050px
    }
    #wrap {
        margin: 0 auto -1050px;
        padding: 0 0 1050px
    }
    footer .foter-logo {
        width: 80%;
        margin: 60px auto
    }
    .footer-nav aside {
        text-align: center
    }
    .footer-nav aside h5 {
        margin-top: 30px
    }
    footer .social_icons {
        justify-content: center
    }
    footer .copyright {
        margin: 20px 0 0
    }
    footer .copyright ul li,
    footer .copyright ul li a {
        font-size: 12px
    }
    footer .site-developer {
        font-size: 8px
    }
}

@media only screen and (max-width:460px) {
    .section_prices .price-item {
        display: block;
        height: auto
    }
    .section_prices .price-item h3,
    .section_prices .price-item:hover h3 {
        margin-bottom: 10px;
        width: 100%;
        clear: both;
        float: left
    }
    .section_prices .price-item div {
        display: block
    }
    .section_prices .price-item p,
    .section_prices .price-item:hover p {
        font-size: 34px;
        float: left
    }
    .section_prices .price-item button,
    .section_prices .price-item:hover button {
        float: right
    }
    .section_prices .price-item h3 span.description,
    .section_prices .price-item:hover h3 span.description {
        font-size: 13px
    }
}

@media only screen and (min-width:768px) {
    .container {
        width: auto
    }
}
