

    /* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
    background: #9e259d;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-goliath img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: calc(-30%);
}

    figure.effect-goliath img:before,
    figure.effect-goliath img:after {
    position: absolute;
        display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}

figure.effect-goliath h2,
figure.effect-goliath p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 30px;
}

figure.effect-goliath p {
    text-transform: none;
    font-size: 30px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
    -webkit-transform: translate3d(0,-140px,0);
    transform: translate3d(0,-140px,0);
}

figure.effect-goliath:hover h2 {
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

    /*-----------------*/
    /***** Selena *****/
    /*-----------------*/

    figure.effect-selena {
        background: #9e259d;
    }

    figure.effect-selena img {
        width: 100%;
        opacity: 0.95;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    figure.effect-selena:hover img {
        -webkit-transform: scale3d(0.95,0.92,1);
        transform: scale3d(0.95,0.92,1);
    }

    figure.effect-selena h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,20px,0);
        transform: translate3d(0,20px,0);
    }

    figure.effect-selena p {
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg);
        transform: perspective(1000px) rotate3d(1,0,0,90deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    figure.effect-selena:hover h2 {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-selena:hover p {
        opacity: 1;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
        transform: perspective(1000px) rotate3d(1,0,0,0);
    }





/* Media queries */
@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}
/**normalize.css**/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

h3.another-program-header {
    color: #8fc159;
}



figure.effect-goliath {
    overflow: hidden;
    height: 220px;
}
figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
figure figcaption,
figure figcaption > a {
    padding: 0px 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure h2 {
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

figure.prev-program h2 {
    text-align: center;
}
figure.next-program h2 {
    text-align: center;
}
figure.prev-program h2 span {
    margin: 0px 5px 0px 0px;
}

figure.next-program h2 span {
    margin: 0px 0px 0px 5px;
}
figure p {
    font-size: 30px;
    text-align: center;
    padding: 0px 20px;
}
img.another-program {
    opacity: .3;
}
figure img {
    opacity: .4 !important;
    transition: all .3s ease-in-out !important;
}
figure:hover img {
    opacity: .1 !important;
}


@media screen and (max-width: 550px) {
    span.control-btn-text,
    p.prog-title {
        display: none !important;
    }
    figure h2 {
        margin-top: 10%;
    }
}
@media screen and (max-width: 350px) {
    figure h2 {
        margin-top: 0px;
    }
}
@media screen and (min-width: 1400px) {
    figure h2 {
        margin-top: 20%;
    }
}